.main-about-text {
  font-size: 1.3rem;
  line-height: 2rem;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 1), 0px 1px 6px rgba(0, 0, 0, 1), 0px 0px 12px rgb(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 0.9rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 1rem;

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    margin-top: 0rem;
    margin-bottom: 0rem;
    margin-right: 0rem;
  }
}

.initial-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.bordered-image-container {
  position: relative;
  margin-left: -1rem;
  animation: float2 4s infinite;
  padding-right: 1rem;
  @media (max-width: 768px) {
    padding-right: 0rem;
  }

  .bordered-overlay {
    position: absolute;
    z-index: 4;
    width: 14rem;
    margin: -0.5rem;
    opacity: 0.5;
  }
  .bordered-image {
    width: 14rem;
    margin: -0.5rem;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
  }
  .fade-in {
    opacity: 1;
  }

  .fade-out {
    opacity: 0;
  }
}

.examples-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 5rem;
  @media (max-width: 768px) {
    grid-template-columns: auto;
  }
  .example {
    background: rgba(0, 221, 255, 0.4);
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
    border: 0.0625rem solid rgb(255, 255, 255);
    box-shadow: inset 0 0 1.25rem rgba(148, 246, 255, 0.4), 0 0.5rem 0.625rem 0 rgba(0, 0, 0, 0.2), 0 0 0.625rem 0.125rem rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    text-align: center;
    height: 12rem;
    width: 20rem;
    transition: 0.4s;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
  }
}

.markdown {
  .markdown-img {
    &:hover {
      cursor: pointer;
    }
  }
  .images-grid {
    @extend .examples-grid;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  img {
    background: rgba(0, 221, 255, 0.4);
    box-shadow: 0 0.25rem 1.875rem rgba(0, 0, 0, 0.1);
    border: 0.0625rem solid rgb(255, 255, 255);
    box-shadow: inset 0 0 1.25rem rgba(148, 246, 255, 0.4), 0 0.5rem 0.625rem 0 rgba(0, 0, 0, 0.2), 0 0 0.625rem 0.125rem rgba(255, 255, 255, 0.4);
    display: flex;
    align-items: center;
    text-align: center;
    height: 12rem;
    width: 20rem;
    transition: 0.4s;
    user-select: none;
    -webkit-user-select: none;
    overflow: hidden;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-top: -3rem;
    text-align: left;
  }
  h2 {
    margin-top: 2rem;
    margin-bottom: 0.75rem;
    text-align: left;
    font-size: 2.5rem;
    font-weight: 400;
  }
  p {
    text-align: left;
    margin-bottom: 1.5rem;
    @media (max-width: 768px) {
      text-align: center;
    }
  }
  strong {
    font-weight: 400 !important;
  }
}

.about-modal-container {
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 7;

  .about-modal-body {
    background-color: rgb(120, 223, 255, 0.8);
    border: 1px solid white;
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 0.0625rem solid rgb(255, 255, 255);
    box-shadow: inset 0 0 1.25rem rgba(148, 246, 255, 0.4), 0 0.5rem 0.625rem 0 rgba(0, 0, 0, 0.2), 0 0 0.625rem 0.125rem rgba(255, 255, 255, 0.4);
    width: 60rem;
    height: 36rem;
    .current-image {
      max-height: 25rem;
    }
    .about-flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 1rem;

      .about-input {
        background: rgb(255, 255, 255, 0.1);
        box-shadow: inset 0px 0px 12px rgba(255, 255, 255, 0.2), 0px 0px 10px 0px rgba(0, 0, 0, 0.05), 0px 0px 10px 0px rgba(255, 255, 255, 1);
        border: 1px solid rgb(255, 255, 255);
        border-radius: 0.5rem;
        color: white;
        transition: 0.4s;
        padding: 0.5rem;
        align-self: flex-start;
        &.disabled {
          opacity: 0.7;
          &:hover {
            cursor: not-allowed;
          }
        }

        &::placeholder {
          color: rgba(255, 255, 255, 0.6);
          font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
          text-shadow: 0 2px 2px rgba(255, 255, 255, 0.1);
        }

        &:hover,
        &:focus-visible,
        &:focus {
          transition: 0.2s;
          box-shadow: inset 0px 0px 20px rgba(148, 246, 255, 0.7), 0px 8px 10px 0px rgba(0, 0, 0, 0.05), 0px 0px 10px 2px rgba(255, 255, 255, 0.7);
          border: 1px solid rgb(255, 255, 255);
          outline: none;
        }
      }
    }
    .close-button {
      border-top-right-radius: 1rem;
      user-select: none;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 2rem;
      min-height: 100%;
      background: rgba(231, 255, 253, 0) !important;
      border-left: 1px solid rgba(231, 255, 253, 0.7) !important;
      transition: 0.2s;

      &:hover {
        background: rgba(231, 255, 253, 0.5) !important;
        transition: 0.2s;
        cursor: pointer;
      }
    }
    .title-bar {
      background-color: rgb(125, 225, 255, 0.8);
      border-top-left-radius: 1rem;
      border-top-right-radius: 1rem;
      font-size: 2rem;
      padding-left: 0.75rem;
      text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.75), 0px 0px 12px rgb(255, 255, 255, 1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      border-bottom: 1px solid rgba(231, 255, 253, 0.7) !important;
    }
  }
}
